*{
    padding:0;
    margin:0;
}
body{
    display:grid;
    grid-template-columns: 2fr 7fr 2fr;
    grid-template-rows: 1fr 5fr 5fr ;
    
}

.headerCont{
    grid-area: 1/2/2/4;
    border:1px solid black;
    display:grid;
    grid-template: 1fr 2fr/ 2fr 1fr 1fr 1fr;
}
.greet{
    display:flex;
    
}
.accountIcon{
    height:30px;
}
.secondAccountIcon{
    height:50px;
    
}
.projectCont{
    grid-area: 2/2/4/3;
    border:1px solid black;
}
.boxesCont{
    display:grid;
    grid-template: 1fr 1fr 1fr / repeat(auto-fill, minmax(300px,300px));
    gap: 50px;
}
.title{
    font-weight: 800;
}
.announcementsCont{
    grid-area: 2/3/3/4;

}
.leftSideCont{
    background: rgb(0, 162, 255);
    grid-area: 1/1/4/2;
    border:solid 1px black;

}
.leftSideCont>div{
    display:grid;
    grid-template: 40px 40px 40px 40px 40px 40px/1fr ;
}
.leftSideCont>.sidebarHeader{
    display:grid;
    grid-template: 1fr/40px 50px;
    align-items: center;
    font-size:30px;
    padding: 30px 0px 50px 0px;
    filter: invert(100%) sepia(2%) saturate(191%) hue-rotate(68deg) brightness(119%) contrast(100%);

}
.sidebarHeaderImage{
    height: 40px;
    margin-left: -4px;
}
.leftSideLine{
    display:grid;
    grid-template-columns: 40px 50px;
    
    align-items: center;
    color:white;
    padding-left:0px;
}
.sidebarIcon{
    height:16px;
    filter: invert(100%) sepia(2%) saturate(191%) hue-rotate(68deg) brightness(119%) contrast(100%);
}

