*{
    padding:0;
    margin:0;
}
body{
    display:grid;
    grid-template-columns: 2fr 7fr 2fr;
    grid-template-rows: 1fr 5fr 5fr ;
    
}

.headerCont{
    grid-area: 1/2/2/4;
    border:1px solid black;
    display:grid;
    grid-template: 1fr 2fr/ 2fr 1fr 1fr 1fr;
}
.greet{
    display:flex;
    
}
.firstIcon{
    height:30px;
}
.secondIcon{
    height:50px;
    
}
.projectCont{
    grid-area: 2/2/4/3;
    border:1px solid black;
}
.boxesCont{
    display:grid;
    grid-template: 1fr 1fr 1fr / repeat(auto-fill, minmax(300px,300px));
    gap: 50px;
}
.title{
    font-weight: 800;
}
.announcementsCont{
    grid-area: 2/3/3/4;

}
.leftSideCont{
    grid-area: 1/1/4/2;
    border:solid 1px black;
}