*{
    padding:0;
    margin:0;
}
body{
    display:grid;
    grid-template-columns: 2fr 9fr 2fr;
}

.headerCont{
    max-height:10vh;
    grid-area: 1/2/2/4;
    display:grid;
    grid-template: 1fr 1fr/ 2fr 1fr 1fr 1fr;
    border:1px solid black;
}
.icon{
    height:30px;
}
.secondIcon{
    height:50px;
}
.projectCont{
    grid-area: 2/2/4/3;

}
.title{
    font-weight: 800;
}
.announcementsCont{
    grid-area: 2/3/3/4;

}
.leftSideCont{
    grid-area: 1/1/4/2;
    border:solid 1px black;
}